@import '../../../styles.scss';
.alert-text {
  opacity: 1;
  display: flex;
  margin-bottom: 3rem;
  //
  color: $small-text-color;
  font-size: 13px;
  justify-content: end;
  .strong-text {
    text-decoration: none;
    color: #635ca8;
    margin-left: 5px;
  }
}
.choose{
  height: 100vh;
  .right-side{
    margin-top: 2rem;
  }
}
img{
  cursor: pointer;
  margin-bottom: 1rem;
}
